html {
  scroll-behavior: smooth;
  animation: opavity 0.5s ease-in-out;
}


.container_mobile {
  max-width: 546px;
  margin: 0 auto;
  padding: 0 15px;
}

@keyframes opavity {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}